#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.card {
  text-align: center;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  background: #f9f9f9;
}

.card img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.pages{
    width: 10px;
}
